<!-- Modal Header -->
<div class="modal-header">
  <h4 class="modal-title"><i class="fas fa-exclamation-triangle" style="color:#ceca2a"></i> Thông báo</h4>
  <button type="button" class="close" (click)="saveData(false)"><span aria-hidden="true">×</span></button>
</div>

<!-- Modal body -->
<div class="modal-body">
  Bạn có muốn xóa dữ liệu không?
</div>

<!-- Modal footer -->
<div class="modal-footer">
  <button type="button" class="btn btn-info btn-sm" (click)="saveData(true)">
    <i class="fas fa-check"></i> Đồng ý
  </button>&nbsp;
  <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal" (click)="saveData(false)">Hủy</button>
</div>
