<form #form="ngForm">
  <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Đổi mật khẩu</h4>
      <button type="button" class="close" data-dismiss="modal" (click)="closeDialog()">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      <div class="form_content">
        <div class="row">
          <img class="img-logo" src="../../../assets/images/logo/SIMVNLOGOFINAL_PNG.png">
        </div>
        <div class="row">
          <div class="col-sm-4 text-right"><label class="control-label">Mật khẩu hiện hành</label> <label
            class="control-label-require">*</label></div>
          <div class="col-sm-8">
            <input type="password" #currentPassword='ngModel' maxlength="50"
                   class="form-control form-control-sm" [(ngModel)]="model.currentPassword"
                   name="currentPassword" required
                   [ngClass]="{ 'is-invalid': currentPassword.touched  && currentPassword.invalid  }">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 text-right"><label control-label>Mật khẩu mới</label> <label
            class="control-label-require">*</label></div>
          <div class="col-sm-8">
            <input type="password" class="form-control form-control-sm" #newPassword='ngModel'
                   [(ngModel)]="model.newPassword" name="newPassword" required maxlength="50"
                   [ngClass]="{ 'is-invalid': newPassword.touched  && newPassword.invalid  }">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 text-right"><label control-label>Nhập lại mật khẩu</label> <label
            class="control-label-require">*</label></div>
          <div class="col-sm-8">
            <input type="password" class="form-control form-control-sm" #confirmPassword='ngModel'
                   [(ngModel)]="model.confirmPassword" name="confirmPassword" required maxlength="50"
                   [ngClass]="{ 'is-invalid': confirmPassword.touched  && (confirmPassword.invalid || !validateRepeatPassword())  }">
          </div>
        </div>
      </div>
    </div>
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" name="btnSave" [disabled]="form.invalid || !validateRepeatPassword()"
              class="btn btn-info btn-sm" (click)="saveData()">
        <i class="far fa-save"></i> Lưu
      </button>&nbsp;
      <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal" (click)="closeDialog()">Đóng
      </button>
    </div>
  </div>
</form>
