.table-responsive td {
    font-size: 12px;
    vertical-align: inherit;
    padding: 5px;
}

select.form-control {
    color: #495057;
    padding-left: 0px;
    outline: none;
    border-bottom: 0.4px solid #ced4da;
    border-radius: 0px;
}