<div class="limiter">
    <div class="container-login100" style="background-image: url('/assets/images/logo/bg-login-page.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form name="form" class="login100-form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <span class="login100-form-title p-b-49">
            <img src="../../assets/images/logo/SIMVNLOGOFINAL_PNG.png" width="300"/>
          </span>

                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <span class="label-input100" style="font-weight:bold">Tên đăng nhập</span>
                    <input class="input100" type="text" placeholder="Tên đăng nhập" name="username" [(ngModel)]="model.username" #username="ngModel" required>
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                    <div *ngIf="f.submitted && !username.valid" class="help-block">Vui lòng nhập tên đăng nhập!</div>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <span class="label-input100" style="font-weight:bold">Mật khẩu</span>
                    <input class="input100" type="password" placeholder="Mật khẩu" name="password" [(ngModel)]="model.password" #password="ngModel" required>
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                    <div *ngIf="f.submitted && !password.valid" class="help-block">Vui lòng nhập mật khẩu!</div>
                </div>

                <div *ngIf="error" class="alert alert-danger">{{error}}</div>

                <div class="text-right p-t-8 p-b-31" style="visibility: collapse">
                    <a href="#">
                      Quên mật khẩu?
                    </a>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
              <i class="fas fa-unlock-alt"></i>&nbsp; Đăng nhập
            </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--<ng4-loading-spinner> </ng4-loading-spinner>-->
